.home {
  position: relative;
  width: 100%;
  height: 500px;
}

.home img {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(3, 24, 46, 0.75) 0%, rgba(5, 31, 56, 0) 50%, rgba(1, 14, 27, 0.75) 80%);
  z-index: 1;
}
